[submodule "sources/seedsigner-c-modules"]
	path = sources/seedsigner-c-modules
	url = https://github.com/kdmukAI-bot/seedsigner-c-modules.git
[submodule "sources/micropython"]
	path = sources/micropython
	url = https://github.com/micropython/micropython.git
